
@media screen  and (max-width: 1024px){


/******

Main header properties 

******/

#mainHeader * {
	
	display:inline-block;
}

#mainHeader {
	
	height:10%;
	width:100%;
	margin:auto;
	margin-top:38px;
	text-align:center;

}

#iconMenu {
	
	height:33px;
	width:47px;

}

#logo {
	
	height:51px;
	width:51px;
	margin-left:128px;
		
}

#logoText {
	
	font-size:18px;
	font-family:'futuramedium';
	font-variant:small-caps;
	color:#333366;
	
	margin-left:15px;
}

#iconUser {
	
	height:28px;
	width:28px;
	margin-right:30px;
	margin-left:53px;
}

#userName{
	
	font-size:9px;
	color:#333366;
	font-family:'futuramedium';
	text-align:center;
	margin-right:30px;
	margin-left:53px;
}


.iconLanguage {
	
	height:33px;
	width:27px;
	margin:2px;
}



/***

Footer properties

***/

footer section{
	
	display:inline-block;
	width:150px;
	margin-bottom:58px;
}

footer{
	
	background-color:#333366;
	height:284px;
	width:100%;
	color:white;
	text-align:center;
	font-family:'futuramedium';
	padding-top:20px;
	padding-bottom:20px;
	font-size:13px;

}

footer b{
	
	font-variant:small-caps;
}

footer a:hover{
	
	color:#ff6666;
}


footer img{
	
	width:40px;
	height:40px;
}

footer h4{
	
	display:block;
	font-size:10px;
}

footer button{
	
height:35px;
width:129px;
border-radius:10px;
background-color:#99cc99;
color:#333366;	
font-family:'futuramedium';
font-size:13px;
}


footer input{
	
	height:30px;
	width:157px;
}
}