
@media screen  and (max-width: 1024px){


/******

Main header properties 

******/

#mainHeader * {
	
	display:inline-block;
}

#mainHeader {
	
	height:10%;
	width:100%;
	margin:auto;
	margin-top:38px;
	text-align:center;

}

#iconMenu {
	
	height:33px;
	width:47px;

}

#logo {
	
	height:51px;
	width:51px;
	margin-left:128px;
		
}

#logoText {
	
	font-size:18px;
	font-family:'futuramedium';
	font-variant:small-caps;
	color:#333366;
	
	margin-left:15px;
}

#iconUser {
	
	height:28px;
	width:28px;
	margin-right:30px;
	margin-left:53px;
}




.iconLanguage {
	
	height:33px;
	width:27px;
	margin:2px;
}

}